legend {
    font-size: x-large;
    padding-bottom: 10px;
    font-weight: bold;
}

input,
select {
    display: block;
    font-size: medium;
}


label {
    font-style: normal;
    font-size: larger;
    font-weight: bold;
}

mat-form-field {
    display: block;
    font-size: medium;
    background-color: w;
    padding-top: 5px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

button {
    background-color: white;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: #b7c0d3;
}

.taxis li {
    display: flex;
    position: relative;
    cursor: pointer;
}

.taxis li:hover {
    left: .1em;
}

.taxis {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

div button {
    font-weight: bold;
    background-color: white;
}

.taxis a {
    color: #333;
    text-decoration: none;
    background-color: #d1d8e6;
    margin: .5em;
    padding: .3em 0;
    border-radius: 7px;
    display: block;
    width: 100%;
}

.taxis a:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
}

.taxis a:active {
    background-color: #525252;
    color: #fafafa;
}

.matricula {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0.8em 0.7em;
    background-color: #405061;
    line-height: 1em;
    margin-left: .8em;
    margin-right: .8em;
    border-radius: 4px 4px 4px 4px;
}

.modelo {
    align-self: center;
}

.separar {
    font-size: xx-large;
}

.main-content {
    flex: 1;
    padding: 2rem;
    background-color: #b7c0d3;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: #b7c0d3;
}